.report_main {
  background-color: white;
  height: 600px;
  overflow-y: scroll;
  padding-right: 80px;
}
.report_main .report_title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-family: 'SimSun';
}
.report_main .report_subtitle {
  font-weight: bold;
  line-height: 40px;
  font-size: 16px;
  font-family: 'Fangsong';
}
.report_main .report_content {
  line-height: 28px;
  font-size: 16px;
  height: 150px;
  font-family: 'Fangsong';
}
